@use '@/app/styles/mixins/breakpoints' as *;

.paper {
  min-height: auto;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: var(--spacing-sm);
  list-style: none;

  @include md {
    padding: var(--spacing-md);
  }
}

.root > li:not(:last-child) {
  padding-bottom: var(--spacing-sm);

  @include md {
    padding-bottom: var(--spacing-md);
  }
}
